<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertBeforeMinutes</key>
	<integer>3</integer>
	<key>notifications</key>
	<false/>
	<key>vibration</key>
	<false/>
	<key>sound</key>
	<false/>
</dict>
</plist>
